* {
    box-sizing: border-box;
  }

  :root {
    --primary: rgb(96, 112, 255);
    --secondary: rgb(139, 170, 255);
    --tertiary: rgb(60, 60, 67);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(205, 205, 255);
    --light-text: rgb(159, 159, 159);
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    font-family:monospace;
    color: var(--tertiary);
    background-color: var(--light-text);
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  header {
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    display: flex;
    justify-content: left;
    color: var(--tertiary);
    background-color: var(--light-text);
    padding: 5% 0% 0% 5%;
    margin: 0%;
    font-size: 120px;
    line-height: 1;
  }

  header h2 {
    display: flex;
    justify-content: left;
    color: var(--tertiary);
    background-color: var(--light-text);
    padding-left: 18%;
    margin: 0%;
    font-size: 50px;
    line-height: 1;
  }

  nav {
    background-color: var(--tertiary);
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 0;
    justify-content:center;
    padding: 10px;

  }
  
  nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 5px 60px;
    color: var(--light-text);
    margin-right: 10px;
    font-size: 1.3rem;
  }
  
  nav a:hover {
    
  }

  .nyan {
    height: 960px;
    width: 2400px;
    
  }

  #nyan-gif {
    padding-top: 500px;
    float: right;
  }

.about-me {
  width: 2400px;
  height: 1300px;
}

.about-me h2 {
  padding: 5%;
  text-align: center;
  font-size: 50px;
}

@media screen and (max-width: 576px)  {
  header nav {
    display: flex;
    justify-content: space-around;
  }
  header nav a {
    padding: 3px;
    font-size: 16px;
  }
  header h1 {
    justify-content: center;
    font-size: 30px;
}

  header h2 {
    justify-content: center;
    font-size: 20px;
    padding: 0;
  }
   .nyan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 0%;
    padding: 50px;
   }

   #nyan-gif {
    max-width: 100%;
    width: 45%;
    padding: 20px;
   }
   .about-me {
    max-width: 100%;
    display: flex;
    justify-content: center;
   }
  }