* {
    box-sizing: border-box;
  }

  :root {
    --primary: rgb(96, 112, 255);
    --secondary: rgb(139, 170, 255);
    --tertiary: rgb(111, 118, 139);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(205, 205, 255);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  header {
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
  }
  
  header h1 {
    display: flex;
    justify-content: center;
    color: var(--tertiary);
    background-color: var(--light);
    padding: 2% 5%;
    margin: 0%;
    font-size: 50px;
    line-height: 1;
  }

  nav {
    display: flex;
    justify-content:space-evenly;
  }
  
  nav a {
    text-decoration: none;
    padding: 5px 60px;
    color: var(--tertiary);
    margin-right: 10px;
    font-size: 1.3rem;
  }
  
  nav a:hover {
    
  }