* {
    box-sizing: border-box;
  }

  :root {
    --primary: rgb(96, 112, 255);
    --secondary: rgb(139, 170, 255);
    --tertiary: rgb(60, 60, 67);
    --dark: rgba(28, 29, 33, 1);
    --light: rgb(205, 205, 255);
    --light-text: rgb(159, 159, 159);
  }
  
  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    padding: 0;
    font-family:monospace;
    color: var(--tertiary);
    background-color: var(--light-text);
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  header {
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
  }
  
  .header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    display: flex;
    justify-content: left;
    color: var(--tertiary);
    background-color: var(--light-text);
    padding: 5% 0% 0% 5%;
    margin: 0%;
    font-size: 120px;
    line-height: 1;
  }

  header h2 {
    display: flex;
    justify-content: left;
    color: var(--tertiary);
    background-color: var(--light-text);
    padding-left: 18%;
    margin: 0%;
    font-size: 50px;
    line-height: 1;
  }

  nav {
    background-color: var(--tertiary);
    display: block;
    position: fixed;
    width: 100%;
    padding: 10px;
    text-align: center;

  }
  
  nav a {
    text-decoration: none;
    padding: 5px 60px;
    color: var(--light-text);
    margin-right: 10px;
    font-size: 1.3rem;
  }
  
  nav a:hover {
    border: 1px solid gray;
    border-radius: 5px;
  }

  .nyan {
    height: 960px;
    width: 2400px;
    
  }

  #nyan-gif {
    padding-top: 500px;
    float: right;
  }

.about {
  text-align: center;
  width: 2400px;
  height: 1300px;
  margin-bottom: 700px;
}

.about h2 {
  padding: 200px;
  font-size: 50px;
}

.about div {
  display: flex;
  justify-content: center;
}
.about p {
  height: 500px;
  width: 500px;
  font-size: 30px;
}

.work {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 1500px;
}

.work h2 {
  font-size: 50px;
  padding: 200px;
}

.work div {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%
}
.project-1 {
  height: 500px;
}

.project-2,
.project-3,
.project-4 {
  height: 100px;
}
.project-1,
.project-2,
.project-3,
.project-4 {
  max-width: 1000px;
}
/*
 ----------------Media query section--------------------
 */

@media screen and (max-width: 576px)  {
  header nav {
    position: fixed;
  }
  header nav a {
    padding: 3px;
    font-size: 16px;
  }
  header h1 {
    justify-content: center;
    padding-top: 150px;
    font-size: 30px;
}

  header h2 {
    justify-content: center;
    font-size: 20px;
    padding: 0;
  }
   .nyan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 0%;
    padding: 50px;
   }

   #nyan-gif {
    max-width: 100%;
    width: 45%;
    padding: 20px;
   }
   .about {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 400px;
   }
   .about h2 {
    font-size: 29px;
    padding: 200px 50px 50px 50px;
   }
   .about div {
    max-width: 100%;
    display: flex;
    justify-content: center;
   }
   .about p {
    height: 300px;
    width: 300px;
    font-size: 20px;
  }
}